@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read (lg)*/
  .board-info {
    flex-direction: column;
    align-items: center; /* 必要に応じて */
  }
  .board-container, .info-container {
    width: 100%;
    margin: 1rem auto !important;
  }
  .input-container {
    flex-direction: column;
    align-items: center; /* 必要に応じて */
  }
}

p{
  margin:0px;
}

.board-info{
  display: flex;
  justify-content: space-between;
  gap:1rem;
  align-items: center;
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
  /* Parent */
  position: relative;
}

/* Board */
.board-container{
  text-align: center;
  margin: auto;
  flex-shrink: 1;
}

.row{
  /* 改行させない */
  white-space: nowrap;
  /* 子要素のflex-shrinkのために設定が必要 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Info */
.info-container{
  margin:auto;
  padding:1rem;
}

.status{
  color: rgb(70, 70, 70);
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.score-board{
  margin:3rem auto;
  background-color: rgb(125, 125, 125);
  padding:1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.x-score{
  font-size: 1.5rem;
  font-weight: bold;
  color: aquamarine;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.o-score{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(254, 90, 178);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.reset-button{
  color: rgb(70, 70, 70);
  font-size: 1.3rem;
  font-family:cursive;
  font-weight: bold;
  padding:1rem;
  border-radius: 10px;
  border: 0.2rem solid white;
  box-shadow: 0px 0px 5px white;
  transition:all 0.2s;

  /* ボタン同士のズレ防止  */
  /* 行全体(ボタン）の高さ指定 */
  line-height: 1.5rem;
  /* inline要素に対して縦位置を上にそろえる （default:baseline)*/
  vertical-align: top;
}

.reset-button:hover{
  font-size: 1.5rem;
  border-color: rgba(137, 43, 226, 0.7);
  background-color: rgba(209, 170, 245, 0.5);
  box-shadow: 0px 0px 20px white;
}

/* Animation */
/* Game Start */
.start-container{
  /* Child */
  position:absolute;
  /* absolute position to parent (child's top-left point comes center)*/
  top: 45%;
  left: 50%;
  /* translate position to center (x,y axis)*/
  transform: translate(-50%,-50%);
  width:90%;
  background-color: rgb(205, 236, 255);
  color: rgb(70, 70, 70);
  font-size: 1.5rem;
  text-shadow: 0 0 5px white;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0px 0px 5px white;

  display: none;
}

.start-container.show{
  display: block;
}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem;
}

.green{
  color: aquamarine;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.pink{
  color: rgb(254, 90, 178);
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

input{
  border: 2px solid rgba(70, 70, 70, 0.5);
  font-size: 1rem;
  font-family:cursive;
  padding: 0.5rem;
  border-radius: 10px;
}

.start-button{
  color: rgb(70, 70, 70);
  font-size: 1.25rem;
  font-family:cursive;
  font-weight: bold;
  margin-top: 2rem;
  padding:0.5rem;
  border-radius: 10px;
  border: 0.2rem solid rgba(137, 43, 226, 0.7);
  box-shadow: 0px 0px 5px white;
  transition:all 0.2s;
  animation: fluffy 2s infinite;

  /* ボタン同士のズレ防止  */
  /* 行全体(ボタン）の高さ指定 */
  line-height: 1.5rem;
  /* inline要素に対して縦位置を上にそろえる （default:baseline)*/
  vertical-align: top;
}

.start-button:hover{
  font-size: 1.5rem;
  background-color: rgba(137, 43, 226, 0.2);
  box-shadow: 0px 0px 20px white;
}

@keyframes fluffy {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Bonus */
.bonus-message {
  /* Child */
  position:absolute;
  /* absolute position to parent (child's top-left point comes center)*/
  top: 50%;
  left: 50%;
  /* translate position to center (x,y axis)*/
  transform: translate(-50%,-50%);

  background-color: rgba(243, 231, 104, 0.85);
  color: rgb(70, 70, 70);
  font-size:1.5rem;
  text-shadow: 0 0 5px white;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0px 0px 5px white;

  display: none;
}

.bonus-message.show{
  display: block;
  animation: bonus-fadeout 1s forwards;
}
@keyframes bonus-fadeout {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    display: none;
  }
}

/* Result */
.result{
  /* Child */
  position:absolute;
  /* absolute position to parent (child's top-left point comes center)*/
  top: 50%;
  left: 50%;
  /* translate position to center (x,y axis)*/
  transform: translate(-50%,-50%);

  width: 90%;
  color: rgba(255, 247, 160, 0.9);
  background-color: rgb(70, 70, 70);
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  padding: 3rem;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px white;

  display: none;
}

.result.show{
  display:block;
  animation: result-fadein 1s backwards;
}

.result-details{
  font-size: 2rem;
  margin:1rem;
}

.details-x{
  color:aquamarine;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  border-radius:10px;
  padding: 0.5rem;
  margin:1rem;
}

.details-o{
  color: rgb(254, 90, 178);
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  border-radius:10px;
  padding: 0.5rem;
  margin:1rem;
}

@keyframes result-fadein {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
