.bar-chart-container{
  padding: 0.5rem;
  margin: 0 auto;
}

.x-bar, .o-bar{
  width: 10px;
  height:30px;
  border: 0.2rem solid transparent;
  border-radius: 3px;
}
.normal {
  background-color: rgb(235, 235, 235);
}

.x-bar .active-plus {
  background-color: aquamarine;
}
.x-bar .active-minus {
  background-color: rgb(98, 125, 116);
}

.o-bar .active-plus {
  background-color: rgb(254, 90, 178);
}

.o-bar .active-minus {
  background-color: rgb(137, 106, 122);
}
