.square-button{
  /* レスポンシブ対応のため。親要素のflex設定とセット。 */
  flex-shrink: 1;
  min-width: 4rem; /* 最小サイズの保険 */
  width: 6rem;

  height: 6rem;
  font-size: 2rem;
  font-family: cursive;
  font-weight: bold;
  color: rgb(70, 70, 70);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  margin:0.5rem;
  background-color: rgb(220, 239, 244);
  border: 0.2rem solid transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
  transition:all 0.2s;

  /* ボタン同士のズレ防止  */
  /* 行全体(ボタン）の高さ指定 */
  line-height: 5rem;
  /* inline要素に対して縦位置を上にそろえる （default:baseline)*/
  vertical-align: top;
}

.square-button:hover{
  font-size: 110%;
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 20px white;
  background-color: white;
}

.square-button.x-green{
  background-color:aquamarine;
}

.square-button.o-pink{
  background-color:rgb(254, 90, 178);
}
