body{
  padding-top: 2rem;
  /* background-color: rgba(41, 41, 41, 0.966); */
  background-image: url(./assets/4127298.jpg);
  background-size: cover;
  background-position: center;
  color: aliceblue;
  font-family: cursive;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
  height:100vh;
}

.container{
  margin: 0px auto;
  max-width: 1200px;
  text-align: center;
}
