@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read (lg)*/
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read (md)*/
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read (sm)*/
  .container {
    width: 300px;
  }
}


body{
  background-image: url(./assets/16352003_v935-aum-10-a.jpg);
  background-size: cover;
  background-position: center;
  min-height:100vh;
  padding:1rem;
  /* 上下中央寄せ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.container{
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.title{
  color:rgb(70, 70, 70);
  font-family: "Limelight", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  width: fit-content;
  /* padding: 1.5rem; */
  margin: auto;
  text-shadow: 0px 20px 15px rgba(0, 0, 0, 0.3);
}

/* Type.js */
.description{
  color:rgb(70, 70, 70);
  font-family: "Delius", cursive;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding:1rem;
  margin:2rem;
}

/* ズレ防止  */
.description p{
  height: 3.5rem;
  /* 縦方向の中央揃えになる */
  line-height: 2rem;
}

.game-container{
  background-color: rgb(240, 197, 219);
  border-radius: 15px;
  padding:1rem;
  /* Popup screens' Parent */
  position: relative;
}
